<ion-view title="Detalhes" id="page5">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="detalhes-card21">
      <ion-item class="item-icon-right positive" id="detalhes-list-item24">OS
        <i class="icon ion-alert-circled"></i>
      </ion-item>
      <div id="detalhes-button-bar1" class="button-bar">
        <a ui-sref="side-menu21.ordemDeServiO()" id="detalhes-button6" class="button button-positive button-block icon ion-edit"></a>
        <button id="detalhes-button7" class="button button-positive button-block icon ion-ios-trash-outline"></button>
      </div>
    </div>
  </ion-content>
</ion-view>