<ion-view title="Histórico" id="page1">
  <ion-content padding="true" class="has-header">
    <ion-list ng-repeat="order in orders" id="histRico-list2">
      <ion-item class="item-icon-right positive" ng-click="modal.show(); showOS(order);">
        <p>{{order.Address.Street}}</p>
        <p>{{order.CreatedDate | date : "d.m.y"}}</p>
        <p>{{order.Description}}</p>
        <i class="icon ion-alert-circled"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <a ui-sref="side-menu21.ordemDeServiO()" id="histRico-button1" style="border-radius:100px 100px 100px 100px;" class="button button-positive icon ion-android-add"></a>
  </ion-content>
  <!-- Modal -->
  <script id="my-modal.html" type="text/ng-template">
    <ion-modal-view>
      <ion-header-bar>
        <h1 class="title">Ordem de serviço</h1>
        <button  class="button button-positive" ng-click="modal.hide()">Voltar</button>
      </ion-header-bar>
      <ion-content padding="true" class="has-header">
        <div class="list card" id="detalhes-card21">
          <ion-item class="item-icon-right positive" id="detalhes-list-item24">
              OS {{os.OrderServiceId}}
              <p>{{os.Address.Street}}</p>
              <p>{{os.CreatedDate | date : "d.m.y"}}</p>
              <p>{{os.Description}}</p>
            <i class="icon ion-alert-circled"></i>
          </ion-item>
          <div id="detalhes-button-bar1" class="button-bar">
            <a ui-sref="side-menu21.ordemDeServiO()" id="detalhes-button6" class="button button-positive button-block icon ion-edit"></a>
            <button id="detalhes-button7" class="button button-positive button-block icon ion-ios-trash-outline"></button>
          </div>
        </div>
      </ion-content>
    </ion-modal-view>
  </script>
</ion-view>