<ion-view title="Sobre" id="page4">
  <ion-content padding="true" class="has-header">
    <div id="sobre-markdown1" class="show-list-numbers-and-dots">
      <p style="color:#000000;">MV é um aplicativo que foi desenvolvido para ser mais um modo de comunicação para reportar problemas nas vias púclicas para a secretaria responsável pela manutenção das ruas da Cidade.</p>

      <p style="color:#000000;">Desenvolvido para realização do meu
        <strong>Trabalho de Conclusão de Curso (TCC)</strong> na
        <strong>FAETERJ</strong>
      </p>

      <p style="color:#000000;">
        <strong>Felipe Borde Rodrigues Lima</strong>
      </p>
    </div>
  </ion-content>
</ion-view>